Repository killian-mahe/shareyourproject, pull requests merged in 2020-12, with the labels that each got.

#207 Upload multiple image post
  app/Http/Controllers/PostController.php
  public/js/app.js
  resources/js/components/inputs/PostCreation.vue
Labels: controller, enhancement, p:medium, vue-js

#211 Create post owner select
  .rnd
  app/Http/Resources/Post.php
  app/Http/Resources/User.php
  public/css/app.css
  public/js/app.js
  resources/js/components/inputs/PostCreation.vue
  tailwind.config.js
Labels: UI/UX, p:medium, vue-js

#213 Change author project post
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/inputs/PostCreation.vue
Labels: bug, p:medium, vue-js

#220 ✏️ Fix clear post comment textarea
  composer.lock
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/inputs/TextArea.vue
Labels: bug, p:medium, vue-js

#222 Create post modal
  public/css/app.css
  public/js/app.js
  public/vendor/courier/svg/chevron-left.svg
  public/vendor/courier/svg/chevron-right.svg
  resources/assets/svg/chevron-left.svg
  resources/assets/svg/chevron-right.svg
  resources/js/components/cards/PostCard.vue
  resources/js/components/navigation/ModalComponent.vue
  resources/js/components/posts/CommentComponent.vue
  resources/js/components/posts/PostModal.vue
  tailwind.config.js
Labels: UI/UX, enhancement, p:medium, tailwindcss, vue-js

#217 🚀 Adding SpinnerAnimation component
  public/css/app.css
  public/js/app.js
  public/vendor/courier/logos/svg/spinner.svg
  resources/assets/logos/svg/spinner.svg
  resources/js/components/utils/SpinnerAnimation.vue
  tailwind.config.js
Labels: UI/UX, enhancement, p:medium, vue-js
