Repository killian-mahe/shareyourproject, pull requests merged in 2020-10, with the labels that each got.

#125 ✨ Create search bar vue component
  app/Http/Controllers/SearchController.php
  app/Http/Resources/User.php
  package-lock.json
  package.json
  public/js/app.js
  resources/js/components/SearchBar.vue
  resources/views/layouts/app.blade.php
  routes/api.php
Labels: UI/UX, bug, enhancement, p:high, vue-js

#126 Add comment form on post
  app/Http/Controllers/CommentController.php
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/inputs/TextArea.vue
  resources/js/components/utils/ResizeAuto.vue
  resources/views/components/post.blade.php
  routes/api.php
Labels: UI/UX, controller, database, enhancement, p:high, vue-js

#129 New input components
  app/Http/Controllers/SearchController.php
  app/Http/Controllers/UserController.php
  app/Http/Resources/Badge.php
  public/js/app.js
  resources/js/components/SearchBar.vue
  resources/js/components/inputs/BadgeSelectInput.vue
  resources/js/components/inputs/CustomInput.vue
  resources/js/components/inputs/SelectInput.vue
  resources/js/components/inputs/UserSelectInput.vue
  resources/js/components/utils/BadgeLabel.vue
  resources/views/project/create.blade.php
  routes/api.php
Labels: UI/UX, controller, enhancement, p:high, vue-js

#137 ✨ Adding Closing feature in badges
  public/js/app.js
  resources/js/components/inputs/BadgeSelectInput.vue
Labels: UI/UX, p:medium, vue-js

#138 Fixing register link login form
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/user/user.blade.php
Labels: UI/UX, p:medium, tailwindcss

#149 Create project picture link
  app/Http/Resources/Project.php
  app/Http/Resources/User.php
  app/Models/Project.php
  app/User.php
  database/migrations/2020_10_17_165849_adding_picture_url.php
  public/js/app.js
  public/vendor/courier/img/default_project_banner.jpg
  public/vendor/courier/img/default_project_picture.jpg
  resources/js/components/SearchBar.vue
  resources/js/components/cards/PostCard.vue
  resources/views/project/layout.blade.php
  resources/views/user/layout.blade.php
Labels: controller, database, enhancement, p:medium

#150 Create feed back page
  app/Http/Controllers/FeedController.php
  app/Http/Controllers/HomeController.php
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/cards/ProjectCard.vue
  resources/js/components/lists/FeedView.vue
  resources/views/feed.blade.php
  resources/views/home.blade.php
  resources/views/layouts/app.blade.php
  routes/api.php
  routes/web.php
Labels: UI/UX, enhancement, p:high, vue-js

#152 ✨ Installing telescope
  app/Providers/AppServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  composer.json
  composer.lock
  config/telescope.php
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Labels: database, enhancement, p:medium

#155 Refactor mobile nav bar
  public/css/app.css
  public/js/app.js
  resources/js/components/navigation/MobileNavBar.vue
  resources/js/components/navigation/SearchBar.vue
  resources/js/components/navigation/TabletNavBar.vue
  resources/sass/components/_nav.scss
  resources/views/layouts/app.blade.php
  tailwind.config.js
Labels: UI/UX, enhancement, p:high, tailwindcss, vue-js

#157 🐛 Duplicate ID in search-bar
  app/Http/Controllers/FeedController.php
  public/css/app.css
  public/js/app.js
  resources/js/components/lists/FeedView.vue
  resources/js/components/navigation/SearchBar.vue
Labels: bug, p:medium, vue-js
