Repository killian-mahe/shareyourproject, pull requests merged in 2021-01, with the labels that each got.

#224 Display post stats
  app/Http/Resources/Post.php
  public/css/app.css
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/sass/components/_card.scss
Labels: UI/UX, p:low, vue-js

#226 💄 Adding tags in posts
  app/Http/Resources/Post.php
  public/css/app.css
  public/js/app.js
  resources/js/components/cards/PostCard.vue
Labels: p:high, vue-js

#227 💄 Adding a datetime in comment
  public/js/app.js
  resources/js/components/posts/CommentComponent.vue
Labels: UI/UX, p:low

#229 Create send option
  resources/assets/svg/more-vertical.svg
  resources/js/components/cards/PostCard.vue
  resources/sass/components/_inputs.scss
Labels: UI/UX, p:medium, tailwindcss, vue-js

#233 Create js api wrapper
  public/js/app.js
  resources/js/api.js
  resources/js/components/cards/MemberCard.vue
  resources/js/components/cards/PostCard.vue
  resources/js/components/cards/ProjectCard.vue
  resources/js/components/inputs/BadgeSelectInput.vue
  resources/js/components/inputs/PostCreation.vue
  resources/js/components/inputs/TagSelectInput.vue
  resources/js/components/inputs/UserSelectInput.vue
  resources/js/components/lists/FeedView.vue
  resources/js/components/lists/ProjectList.vue
  resources/js/components/navigation/PersonalMenu.vue
  resources/js/components/navigation/SearchBar.vue
  resources/js/components/navigation/TabletNavBar.vue
  resources/js/components/posts/CommentComponent.vue
  resources/js/components/posts/PostModal.vue
  resources/js/models.js
Labels: p:low, vue-js

#234 Create user settings
  app/Models/Settings.php
  app/User.php
  database/migrations/2021_01_11_182730_create_settings_table.php
Labels: database, orm, p:medium

#236 🐛 Fix return to line
  app/Http/Resources/Comment.php
  app/Models/Comment.php
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/navigation/TabletNavBar.vue
  resources/js/components/posts/CommentComponent.vue
  resources/js/models.js
Labels: UI/UX, controller, p:medium, vue-js

#238 Create loading lottie animation
  package-lock.json
  package.json
  public/js/app.js
  public/js/app.js.LICENSE.txt
  public/vendor/courier/lottie/heart.json
  public/vendor/courier/lottie/loading.json
  public/vendor/courier/svg/more-vertical.svg
  resources/assets/lottie/heart.json
  resources/assets/lottie/loading.json
  resources/js/components/cards/PostCard.vue
  resources/js/components/lists/FeedView.vue
Labels: UI/UX, p:high, vue-js

#242 Create project follows
  .rnd
  app/Http/Resources/User.php
  app/Models/Project.php
  app/User.php
  database/migrations/2021_01_15_214739_add_project_follow_table.php
  public/css/app.css
  public/js/app.js
  public/vendor/courier/lottie/plusToX.json
  resources/assets/lottie/plusToX.json
  resources/js/api.js
  resources/js/components/inputs/FollowButton.vue
  resources/js/models.js
  resources/sass/components/_button.scss
  resources/views/project/layout.blade.php
  routes/api.php
  webpack.mix.js
Labels: UI/UX, controller, database, enhancement, p:high

#244 🐛 Fixing like/comment/share actions
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/lists/FeedView.vue
Labels: UI/UX, bug, p:medium, vue-js

#245 Feature/243 user follows in feed
  app/Http/Controllers/FeedController.php
  public/js/app.js
  resources/js/components/lists/FeedView.vue
Labels: controller, p:medium

#250 ✨ Adding Key Events for Text Area
  public/js/app.js
  resources/js/components/cards/PostCard.vue
  resources/js/components/inputs/TextArea.vue
Labels: UI/UX, enhancement, p:medium, vue-js
